<h1><%= @game.title %></h1>
<%= image_tag @game.box_image %>
<p>Players: <%= @game.min_players %>-<%= @game.max_players%></p>

<%= link_to 'Edit', edit_admin_game_path(@game) %> |
<%= link_to 'Back', admin_games_path %>
