<h1>Game sessions</h1>

<%= link_to 'Past', past_game_sessions_path %>
<%= link_to 'Upcoming', upcoming_game_sessions_path %>
<%= link_to 'All', game_sessions_path %>

<% @game_sessions.each do |game_session| %>
  <li>
    <%= scheduled_time_in_words(game_session.scheduled_at, context: :past) %>
    -
    <%= link_to game_session.id, game_session_path(game_session) %>
  </li>
<% end %>
