<div class="banner-small flex">
  <div class="m-auto">
    <div class="banner-title">Create Session</div>
  </div>
</div>

<div class="card card-floating mx-auto mb">
  <% if @game_session.game || @game_session.scheduled_at %>
    <div class="card__header bg-success color-white text-center">
      <% if @game_session.game %>
        <div>Chosen game: <%= @game_session.game.title %></div>
      <% end %>
      <% if @game_session.scheduled_at %>
        <div>Scheduled at: <%= scheduled_time_in_words(@game_session.scheduled_at) %></div>
      <% end %>
    </div>
  <% end %>
  <div class="card__body">

    <%= form_with model: @game_session, method: :patch, local: true do |form| %>
      <div class="field">
        <div>
          <%= form.label :scheduled_at, 'Scheduled time' %>
        </div>
        <div class="input-group">
          <span class="input-group__content"> <%= form.datetime_field :scheduled_at, data: { flatpickr: true } %> </span>
          <span class="btn btn--secondary btn--small"> <%= form.submit 'Schedule' %> </span>
        </div>
      </div>
    <% end %>

    <div class="tabs">
      <ul class="flex">
        <li class="is-active" data-toggle="tab" data-target="invited">
          Invited
        </li>
        <li data-toggle="tab" data-target="attending">
          Attending
        </li>
        <li data-toggle="tab" data-target="declined">
          Declined
        </li>
      </ul>
    </div>

    <div class="tab-panel is-active" id="invited">
      <div class="tab-panel__body">
        <ul>
          <% @game_session.not_responded_users.each do |user| %>
            <li><%= user.email %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="tab-panel" id="attending">
      <div class="tab-panel__body">
        <ul>
          <% @game_session.attending_users.each do |user| %>
            <li><%= user.email %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="tab-panel" id="declined">
      <div class="tab-panel__body">
        <ul id="declined">
          <% @game_session.declined_users.each do |user| %>
            <li><%= user.email %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <%= form_with url: game_session_users_path(@game_session), scope: :user, method: :post, local: true do |form| %>
      <div class="field">
        <div>
          <%= form.label :email, 'Player email' %>
        </div>
        <div class="input-group">
          <span class="input-group__content"> <%= form.email_field :email  %> </span>
          <span class="btn btn--secondary btn--small"> <%= form.submit 'Add player' %> </span>
        </div>
      </div>
    <% end %>

    <div>
      <label class="flex">RSVP: <%= @current_user_invitation.rsvp.humanize %></label>
    </div>

    <div class="flex">
      <div class="btn flex-grow mr-small">
        <%= form_with url: game_session_user_path(@game_session, @current_user), scope: :user, method: :patch, local: true do |form| %>
          <%= form.hidden_field :rsvp, value: 'attending'  %>
          <%= form.submit 'Attend' %>
        <% end %>
      </div>

      <div class="btn flex-grow">
        <%= form_with url: game_session_user_path(@game_session, @current_user), scope: :user, method: :patch, local: true do |form| %>
          <%= form.hidden_field :rsvp, value: 'declined' %>
          <%= form.submit 'Decline' %>
        <% end %>
      </div>
    </div>

  <!-- Games where we have the right number of players -->
  <div class="mt">
    <label>Available games</label>
    <% if @game_session.suitable_games.any? %>
      <ul class="cards my-tiny mb">
        <% @game_session.suitable_games.each do |game| %>
          <%= form_with model: @game_session, method: :patch, local: true do |form| %>
            <%= form.hidden_field :game_id, value: game.id %>
            <li class="card is-selectable">
              <h3 class="mb-none">
                <%= game.title %>
              </h3>
              <span class="mt-auto"><%= form.submit 'Choose game' %></span>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <div class="card">TODO: Add an Empty State</div>
    <% end %>
  </div>

  <!--
    Games where:
      max_players is lower than the number of people invited
    or
      min_players is greater than the number of people invited
  -->
  <div class="mt">
    <label>Unavailable games</label>
    <% if @game_session.suitable_games.any? %>
      <ul class="cards my-tiny mb">
        <% @game_session.unsuitable_games.each do |game| %>
          <div class="card card-disabled">
            <li><%= game.title %></li>
          </div>
        <% end %>
      </ul>
    <% else %>
      <div class="card">TODO: Add an Empty State</div>
    <% end %>
  </div>
</div>
