<h2>Players</h2>

<% if @game_session.game %>
  <h5>Chosen game: <%= @game_session.game.title %></h5>
<% end %>

<% if @game_session.scheduled_at %>
  <h5>Scheduled at: <%= scheduled_time_in_words(@game_session.scheduled_at, context: :flexible) %></h5>
<% end %>

<%= form_with model: @game_session, method: :patch, local: true do |form| %>
  <%= form.label :scheduled_at, 'Scheduled time' %>
  <%= form.datetime_field :scheduled_at, data: { flatpickr: true } %>
  <%= form.submit 'Schedule' %>
<% end %>

<h4>RSVP: <%= @current_user_invitation.rsvp.humanize %></h4>
<%= form_with url: game_session_user_path(@game_session, @current_user), scope: :user, method: :patch, local: true do |form| %>
  <%= form.hidden_field :rsvp, value: 'attending'  %>
  <%= form.submit 'Attend' %>
<% end %>

<%= form_with url: game_session_user_path(@game_session, @current_user), scope: :user, method: :patch, local: true do |form| %>
  <%= form.hidden_field :rsvp, value: 'declined' %>
  <%= form.submit 'Decline' %>
<% end %>

<h4>Invited</h4>
<ul id="invited">
  <% @game_session.not_responded_users.each do |user| %>
    <li><%= user.email %></p>
  <% end %>
</ul>

<h4>Attending</h4>
<ul id="attending">
  <% @game_session.attending_users.each do |user| %>
    <li><%= user.email %></p>
  <% end %>
</ul>

<h4>Declined</h4>
<ul id="declined">
  <% @game_session.declined_users.each do |user| %>
    <li><%= user.email %></p>
  <% end %>
</ul>

<%= form_with url: game_session_users_path(@game_session), scope: :user, method: :post, local: true do |form| %>
  <%= form.label :email, 'Player email' %>
  <%= form.email_field :email  %>
  <%= form.submit 'Add player' %>
<% end %>

<h3>Available games</h3>
<% @game_session.available_games.each do |game| %>
  <%= form_with model: @game_session, method: :patch, local: true do |form| %>
    <%= form.hidden_field :game_id, value: game.id %>
    <li><%= game.title %> <%= form.submit 'Choose game' %></li>
  <% end %>
<% end %>
