<h1>Board Games</h1>
<div>
  Welcome!
  <% if user_signed_in? %>

    <%= link_to 'Create session', game_sessions_path, method: :post %>

    <div id="past-game-sessions">
      <h3>Past game sessions</h3>
      <%= render @past_game_sessions %>
      <%= link_to 'View all past game sessions', past_game_sessions_path %>
    </div>

    <div id="upcoming-game-sessions">
      <h3>Upcoming game sessions</h3>
      <%= render @upcoming_game_sessions %>
      <%= link_to 'View all upcoming game sessions', upcoming_game_sessions_path %>
    </div>
  <% end %>
</div>
