<div class="banner flex">
  <div class="m-auto">
    <div class="banner-title">Pendium</div>
    <div class="banner-subtitle">A concise collection of your games and friends</div>
  </div>
</div>

<% if user_signed_in? %>

  <div class="p">
    <div class="text-center">
      <div class="btn btn--ghost btn--grey mb-large">
        <%= link_to 'Create New Session', game_sessions_path, method: :post %>
      </div>
    </div>

    <div class="grid grid--2">
      <div class="card h-300 flex-grow" id="upcoming-game-sessions">
        <div class="card__header">
          <div>Upcoming game sessions</div>
        </div>

        <div class="card__body">
          <%= render @upcoming_game_sessions %>
          <div>
            <%= link_to 'View all upcoming game sessions', upcoming_game_sessions_path %>
          </div>
        </div>
      </div>

      <div class="card h-300 flex-grow" id="past-game-sessions">
        <div class="card__header">
          <div>Past game sessions</div>
        </div>

        <div class="card__body">
          <%= render @past_game_sessions %>
          <div>
            <%= link_to 'View all past game sessions', past_game_sessions_path %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>