<h1>Board Games</h1>
<div>
  Welcome!
  <% if user_signed_in? %>
    <%= link_to 'Create session', game_sessions_path, method: :post %>
    <div id="past-game-sessions">
      <h3>Past game sessions</h3>
      <% current_user.past_game_sessions.each do |game_session| %>
        <li>
          <%= scheduled_time_in_words(game_session.scheduled_at, context: :past) %>
          -
          <%= link_to game_session.id, game_session_path(game_session) %>
        </li>
      <% end %>
    </div>

    <div id="upcoming-game-sessions">
      <h3>Upcoming game sessions</h3>
      <% current_user.upcoming_game_sessions.each do |game_session| %>
        <li>
          <%= scheduled_time_in_words(game_session.scheduled_at, context: :future) %>
          -
          <%= link_to game_session.id, game_session_path(game_session) %>
        </li>
      <% end %>
    </div>
  <% end %>
</div>
