<div class="banner flex">
  <div class="m-auto">
    <h1 class="banner-title">Pendium</h1>
    <div class="banner-subtitle">A concise collection of your games and friends</div>
  </div>
</div>

<% if user_signed_in? %>

  <div class="p">
    <div class="text-center">
      <%= link_to 'Create New Session', game_sessions_path, method: :post, class: %w[btn btn--ghost btn--grey mb-large] %>
    </div>

    <div class="grid grid--2">
      <div class="card flex-grow" id="upcoming-game-sessions">
        <div class="card__header">
          <div>Upcoming game sessions</div>
        </div>

        <div class="card__body h-250 overflow-y-scroll">
          <div>
            <%= render @upcoming_game_sessions %>
          </div>
          <div>
            <%= link_to 'View all upcoming game sessions', upcoming_game_sessions_path %>
          </div>
        </div>
      </div>

      <div class="card flex-grow" id="past-game-sessions">
        <div class="card__header">
          <div>Past game sessions</div>
        </div>

        <div class="card__body h-250 overflow-y-scroll">
          <div>
            <%= render @past_game_sessions %>
          </div>
          <div>
            <%= link_to 'View all past game sessions', past_game_sessions_path %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
