<div class="container">
  <div class="banner-small flex">
    <div class="m-auto">
      <div class="banner-title">New Game</div>
    </div>
  </div>
  <div class="card card-floating text-center mx-auto min-h-300">
    <div class="card__body">
      <%= form_with(url: games_path, local: true) do |form| %>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
            </tr>
          </thead>

          <tbody>
            <%= form.collection_check_boxes(:games, @games, :id, :title, include_hidden: false) do |b| %>
              <tr>
                <td><%= b.check_box %></td>
                <td><%= b.label %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="btn btn--ghost btn--ghost-primary">
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'Back', games_path %>
