<section class="section">
  <div class="columns is-centered">
    <div class="column is-half">
      <h2 class="title">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, class: %w[label] %>
          <div class="control">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: %w[input] %>
          </div>
        </div>

        <div class="field">
          <%= f.label :password, class: %w[label] %>
          <div class="control">
            <%= f.password_field :password, autocomplete: "current-password", class: %w[input] %>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: %w[checkbox] %>
          </div>
        <% end %>

        <div class="field is-grouped">
          <div class="control">
            <%= f.submit "Log in", class: %w[button is-link] %>
          </div>

          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
