<!DOCTYPE html>
<html>
  <head>
    <title>BoardGames</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="container">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flash' %>
    </header>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
